# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Test artifacts
reports/
allure-results/
allure-report/
playwright-report/
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Environment files
.env
.env.*
