####### Ubuntu 24 #######
# Create venv
python3 -m venv .venv

# Activate venv
source .venv/bin/activate

# Upgrade pip
python -m pip install --upgrade pip

# Install Required Libraries
pip install playwright behave pydantic pydantic-settings python-dotenv requests allure-behave

# Install Playwright Browsers
python -m playwright install

# system dependencies
python -m playwright install --with-deps

