# Create venv + install libs
py -m venv .venv
.\.venv\Scripts\activate
python -m pip install --upgrade pip

pip install playwright behave pydantic pydantic-settings python-dotenv requests allure-behave
python -m playwright install



Verify chromium-1208:
    python -c "from playwright.sync_api import sync_playwright; p=sync_playwright().start(); print('exe:', p.chromium.executable_path); b=p.chromium.launch(headless=True); b.close(); print('launch: OK'); p.stop()"

Verify chromium_headless_shell-1208:
    python -c "from playwright.sync_api import sync_playwright; p=sync_playwright().start(); b=p.chromium.launch(headless=False); b.close(); print('launch: OK'); p.stop()"
