####### Ubuntu 24 #######
# Create venv
python3 -m venv .venv

# Activate venv
source .venv/bin/activate

# Upgrade pip
python -m pip install --upgrade pip

# Install Required Libraries
pip install playwright behave pydantic pydantic-settings python-dotenv requests allure-behave

# Install Playwright Browsers
python -m playwright install

# system dependencies
python -m playwright install --with-deps


# Verify chromium-1208:
python3 -c "from playwright.sync_api import sync_playwright; p=sync_playwright().start(); print('exe:', p.chromium.executable_path); b=p.chromium.launch(headless=True); b.close(); print('launch: OK'); p.stop()"

#Verify chromium_headless_shell-1208:
python3 -c "from playwright.sync_api import sync_playwright; p=sync_playwright().start(); b=p.chromium.launch(headless=False); b.close(); print('launch: OK'); p.stop()"
